@use "../vars";

.aside {
  background-color: vars.$accent;
  color: vars.$white;
  border-radius: 0 8px 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top: 0;
  &__top {
    width: 100%;
  }
  &__user {
    padding: 50px 20px 30px;
    display: flex;
    align-items: center;
    & .ant-skeleton .ant-skeleton-content .ant-skeleton-paragraph > li + li {
      margin-block-start: 13px;
    }
  }
  &__img-wrap {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid vars.$white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 20px;
  }
  &__user-name {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 0px;
  }
  &__user-mail {
    font-weight: 300;
    font-size: 14px;
  }
  &__nav {
    padding: 20px 10px;
    border-top: 1px solid rgba(#dcdcdc, 0.5);
    border-bottom: 1px solid rgba(#dcdcdc, 0.5);
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__link {
    opacity: 0.8;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.2);
    }
    &._active {
      opacity: 1;
      background-color: #11248f;
    }
    & span {
      font-size: 15px;
    }
    &._exit {
      text-align: left;
      border-left: 1px solid rgba(236, 59, 59, 0.6);
      &:hover {
        background-color: rgba(236, 59, 59, 0.6);
      }
    }
  }
  &__exit {
    padding: 20px 10px;
  }
  &__bottom {
    width: 100%;
  }
}
