@use "../vars";

.infoBlock {
  max-width: 500px;

  &__top {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__item {
    & span {
      &:first-child {
        font-weight: 700;
      }
    }
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
