@use "../vars";
.verify {
  margin-top: 50px;
  max-width: 1200px;
  &__descr {
    font-size: 15px;
    margin-bottom: 50px;
    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    & li {
      position: relative;
      padding-left: 12px;
      max-width: 1100px;

      &::after {
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        width: 5px;
        height: 5px;
        background-color: vars.$accent;
        border-radius: 50%;
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
